.# vim: ft=nroff
.TH __FILE__ 1 __FILE__\-__VERSION__
.SH NAME
__FILE__ \- !DESCRIPTION!
.SH SYNOPSIS
.B __FILE__ !USAGE!
.SH DESCRIPTION
.B __FILE__
!WHAT IT DOES!
.SH OPTIONS
none !OR!
.TP 5
--help 
Print a brief usage message.
.SH EXAMPLES
.LP
.B __FILE__ 
!INVOCATIONS!
.SH EXIT STATUS
Exits non-zero on error.
.SH AUTHOR
__ME__
.SH HISTORY
.SH FILES
.SH BUGS
Probably.
.SH SEE ALSO
.TP
.BR __LANGUAGE__(1)
.TP
.IR __WEBSITE__
.SH LICENSE
Copyright __YEAR__  __ME__
.sp
__LICENSE__

